<div class="dropdown">
  <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown">
    <i class="fa fa-user-o fa-lg text-light"></i>
  </button>

  <div class="dropdown-menu dropdown-menu-right">
    <button class="dropdown-item btn btn-link" type="button">Profile</button>
    <div class="dropdown-divider"></div>
    <button class="dropdown-item btn btn-link" type="button" (click)="signOut()">
      <!-- <div class="d-flex align-items-baseline"> -->
      <i class="fa fa-sign-out mr-1" aria-hidden="true"></i>
      Logout
      <!-- </div> -->
    </button>
  </div>
</div>
