<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <!-- Brand logo -->
    <a class="navbar-brand" href="#">
      <span class="fa fa-stack mr-2">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-cloud-upload fa-stack-1x"></i>
      </span>
      <span class="text-light font-weight-bold">{{title}}</span>
    </a>

    <app-search></app-search>
    <!-- User identity -->
    <app-identity></app-identity>

  </div>
</nav>
<router-outlet></router-outlet>
