$fa-font-path: "../node_modules/font-awesome/fonts";
$mine-shaft: #3a4e7a;
$pickled-bluewood: #2C3E50;
$dodger-blue: #21C2F8;
$silver-sand: #BDC3C7;
$aqua-haze: #f1f1f0;
// $theme-colors: ( "dark": $mine-shaft, "primary": $dodger-blue, "light": $aqua-haze, "secondary": $silver-sand, "alpha": $pickled-bluewood);
// Bootstrap imports
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
// $body-bg: $aqua-haze;
// $body-bg: $aqua-haze;
