<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6 align-self-center">
      <div class="display-4">
        Fast & Secure
      </div>
      <div class="row">
        <div class="col-4"> </div>
        <div class="col-8">
          <div class="text-muted h3 mr-5">
            ...start storing today
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <h2 class="font-weight-bold text-center">New Account Sign Up</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="form-row justify-content-center mt-4">
          <div class="col-6">
            <div class="form-group">
              <input formControlName="firstName" type="text" class="form-control" placeholder="First Name">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <input formControlName="lastName" type="text" class="form-control" placeholder="Last Name">
            </div>
          </div>
        </div>

        <div class="row justify-content-center my-2">
          <div class="col-12">
            <div class="form-group">
              <!-- <label for="inputUsername">Username</label> -->
              <input formControlName="username" type="text" class="form-control" placeholder="Username">
            </div>
          </div>
        </div>

        <div class="row justify-content-center my-2">
          <div class="col-12">
            <div class="form-group">
              <!-- <label for="inputPassword">Password</label> -->
              <input formControlName="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
          </div>
        </div>
        <div class="row justify-content-center my-2">
          <div class="col-6">
            <button type="submit" class="btn btn-success btn-block" [disabled]="!registerForm.valid">Sign Up</button>
          </div>
          <div class="col-6"></div>
        </div>

      </form>
    </div>

  </div>
</div>
